body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 24px;
  color: hsl(9, 100%, 62%);
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: hsl(9, 100%, 62%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}.screen {
  display: none;
}

#login-screen {
  display: block;
}