:root {

 

  --dark-jungle-green: hsl(188, 63%, 7%);
  --prussian-blue: hsl(200, 69%, 14%);
  --raisin-black-1: hsl(227, 29%, 13%);
  --raisin-black-2: hsl(229, 17%, 19%);
  --yellow-green: hsl(89, 72%, 45%);
  --orange-soda: hsl(9, 100%, 62%);
  --cultured-1: hsl(0, 0%, 93%);
  --cultured-2: hsl(192, 24%, 96%);
  --misty-rose: hsl(7, 56%, 91%);
  --alice-blue: hsl(210, 100%, 97%);
  --seashell: hsl(8, 100%, 97%);
  --cadet: hsl(200, 15%, 43%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --opal: hsl(180, 20%, 62%);

  /**
   * typography
   */

  --ff-nunito-sans: "Nunito Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease;

  /**
   * spacing
   */

  --section-padding: 100px;

  /**
   * shadow
   */

  --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
  --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);

}
.vnone{
  display: none;
}
.hb{
  padding: 0.8% 1.9%;
  margin: 1% 2% 0 0;
}
main{
  padding: 1% 6%;
}

a{
  color: black ;
  text-decoration: none;
}
.btn{
  background-color: var(--orange-soda);
  color: var(--white);
  border: var(--orange-soda);
}
#progress-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000000;
  opacity: 0.4;
  z-index: 999999;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  position: relative;
  width: 150px;
  height: 150px;
  transform: translate(10%, -50%); /* Center the progress bar */
}

.spinner-border {
  width: 100%;
  height: 100%;
}
.btn-primary{
  background-color: rgb(34, 34, 230) !important;
}
.btn-danger{
  background-color: red !important;
}
/* Media query for mobile devices */
@media (min-width: 767px) {
  #progress-bar {
    width: 100px;
  transform: translate(0%, -50%); /* Center the progress bar */
    height: 100px;
  }
}

#progress-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000000;
  opacity: 0.4;
  z-index: 999999;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  position: relative;
  width: 150px;
  height: 150px;
  transform: translate(10%, -50%); /* Center the progress bar */
}

.spinner-border {
  width: 100%;
  height: 100%;
}

#loading {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* Media query for mobile devices */
@media (min-width: 767px) {
  #progress-bar {
    width: 100px;
  transform: translate(0%, -50%); /* Center the progress bar */
    height: 100px;
  }
}

.unittype{
  width: 6% !important;
}
.images{
  width: 100%;
  height: 20rem;
}
.imgin{
  height: 9rem !important;
}
.divin{
  position: relative;
  width: fit-content;
}
#preview-container{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 2rem  ;
}
.butn{
  position: absolute;
  right: 0;
  border-radius: 50%;
  /* opacity: 0.5; */
  border: none;
  font-size: 1.5rem;
  background: none;
  font-weight: bold;
}
.closebtn {
  color: red;
  font-size: 14px;
  position: absolute;
  /* right: 0; */
  display: flex;
  right: 0.8rem;
  width: fit-content;
  top: 0;
  justify-content: flex-end;
}

.show_id{
  height: 1rem;
  width: 1rem;
  left: -2%;
  /* he: fit-content; */
  /* border: 1px black solid; */
  border-radius: 50%;
  position: absolute;
  top: 0;
  background: none;
  font-size: 17px;
  color: black;
}